html,
body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    font-family: "Jura", sans-serif;
}
* {
    box-sizing: border-box;
}
header {
    text-align: center;
}
#fileinput {
    display: none;
}
main {
    cursor: alias;
    height: 60vh;
    display: flex;
    span {
        margin: auto;
        width: 30vh;
        height: 30vh;
        border-radius: 100%;
        display: flex;
        div {
            margin: auto;
        }
        text-align: center;
        border: 2px dashed black;
        &.drophover {
            border-color: blue;
            color: blue;
        }
        &.error {
            border-color: red;
            color: red;
            animation: errorshake 0.3s ease-in-out 1;
        }
    }
}
@keyframes errorshake {
    from,
    to {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-5px);
    }
    25%,
    75% {
        transform: translateX(5px);
    }
}
#more-info {
    padding: 20px;
}
html.popup-show {
    overflow: hidden;
    background-color: #555;
    header,
    main,
    .more-info {
        opacity: 0.3;
        pointer-events: none;
        filter: blur(5px);
    }
    #convert-popup {
        opacity: 1;
        transform: translateY(0);
        pointer-events: all;
    }
}
#convert-popup {
    opacity: 0;
    transform: translateY(20%);
    pointer-events: none;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: white;
    height: 95%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px;
    transition: opacity ease-out 0.3s, transform ease-out 0.3s;
    .conversions {
        display: flex;
        flex-direction: row;
        overflow: hidden;
        border-radius: 999999px;
        border: 1px solid black;
        width: max-content;
        button {
            background: #0000;
            color: black;
            border: none;
            cursor: pointer;
            font: inherit;
            padding: 8px;
            margin: 0;
            &:hover {
                background: #0002;
            }
        }
    }
}
header,
main,
.more-info {
    transition: opacity ease-out 0.3s, filter ease-out 0.3s;
}
html {
    transition: background-color ease-out 0.3s;
}
