html,
body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    font-family: "Jura", sans-serif;
}
header {
    text-align: center;
}
main {
    height: 60vh;
    display: flex;
    span {
        margin: auto;
        width: 30vh;
        height: 30vh;
        border-radius: 100%;
        line-height: 30vh;
        text-align: center;
        border: 2px dashed black;
        &.drophover {
            border-color: blue;
            color: blue;
        }
    }
}
#more-info {
    padding: 20px;
}
